PORT=3000

JWT_SECRET_TOKEN=c002e9a768dd15755e778d8ab9c525d79f1811e43b163bff5e2267ce95e6ecc9f5d41ab0662d0b52141ccb53417f9a7ce18212844f5bfb2a3f89b31671688110

REDIS_URL=redis://localhost:6379/1

# Mailer Configuration
SENDGRID_USERNAME=app1234@gmail.com
SENDGRID_PASSWORD=qwerty
MAILER_SENDER_ADDRESS=noreply@example.com

PASSWORD_RECOVERY_LINK_TEMPLATE="http://localhost:5000/password_reset?token=%{password_reset_token}"
CONFIRM_USER_LINK_TEMPLATE="http://localhost:3000/api/v1/auth/confirm?confirmation_token=%{token_value}"

# Token length
CONFIRMATION_TOKEN_LENGTH=40

# Sidekiq Web basic auth
SIDEKIQ_AUTH_USERNAME=username
SIDEKIQ_AUTH_PASSWORD=password

# Exclude gems that are part of the specified named group
BUNDLE_WITHOUT=
# Allow connect to remote database (in separate container)
DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL=true
# Name of docker image
IMAGE_NAME=tollowy_api

# Some database info
DATABASE_USER=tollowy
DATABASE_PASSWORD=tollowy
DATABASE_PRODUCTION_DB=tollowy_production
DATABASE_HOST=database

# Mailcatcher
MAILCATHCER_ADDRESS=127.0.0.1
