# Ignore IDE files
*.swp
/.idea/*
/.vs/*
/.vscode/*

# Better proj settings for VS Code
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# Ignore YARD info
/.yardoc/*
/docs/yard

# Ignore bundler config.
/.bundle

# Ignore Coveralls folder
/coverage

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore application configuration
/config/application.yml
.env
.env.docker

# Redis dump
dump.rdb

# Docker
.docker-sync/*
docker-compose.override.yml
