<tr style="border-collapse:collapse">
  <td class="es-m-txt-l" align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:30px;padding-right:30px">
    <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;font-size:18px;font-family:lato, 'helvetica neue', helvetica, arial, sans-serif;line-height:27px;color:#666666">
      Если у вас есть какие-либо вопросы, просто ответьте на это письмо - мы всегда рады вам помочь.
    </p>
  </td>
</tr>
<tr style="border-collapse:collapse">
  <td class="es-m-txt-l" align="left" style="Margin:0;padding-top:20px;padding-left:30px;padding-right:30px;padding-bottom:40px">
    <p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;font-size:18px;font-family:lato, 'helvetica neue', helvetica, arial, sans-serif;line-height:27px;color:#666666">
      The Followy Team
    </p>
  </td>
</tr>
