<tr style="border-collapse:collapse">
  <td align="center" style="Margin:0;padding-left:10px;padding-right:10px;padding-top:35px;padding-bottom:35px">
    <span class="es-button-border" style="border-style:solid;border-color:#2D1D55;background:#351F64;border-width:1px;display:inline-block;border-radius:2px;width:auto">
      <a href="<%= link %>" class="es-button" target="_blank" style="text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;font-family:helvetica, 'helvetica neue', arial, verdana, sans-serif;font-size:20px;color:#FFFFFF;border-style:solid;border-color:#351F64;border-width:15px 30px;display:inline-block;background:#351F64;border-radius:2px;font-weight:normal;font-style:normal;line-height:24px;width:auto;text-align:center">
        <%= text %>
      </a>
    </span>
  </td>
</tr>
