<table class="es-content" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%">
  <tr style="border-collapse:collapse">
    <td align="center" style="padding:0;Margin:0">
      <table class="es-content-body" style="border-collapse:collapse;border-spacing:0px;background-color:transparent;width:600px" cellspacing="0" cellpadding="0" align="center">
        <tr style="border-collapse:collapse">
          <td align="left" style="padding:0;Margin:0">
            <table width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border-spacing:0px">
              <tr style="border-collapse:collapse">
                <td valign="top" align="center" style="padding:0;Margin:0;width:600px">
                  <table style="border-collapse:separate;border-spacing:0px;background-color:#E3D9FF;border-radius:4px" width="100%" cellspacing="0" cellpadding="0" bgcolor="#e3d9ff" role="presentation">
                    <tr style="border-collapse:collapse">
                      <td align="center" style="padding:0;Margin:0;padding-top:30px;padding-left:30px;padding-right:30px">
                        <h3 style="Margin:0;line-height:24px;font-family:lato, 'helvetica neue', helvetica, arial, sans-serif;font-size:20px;font-style:normal;font-weight:normal;color:#111111">
                          Нужна помощь?
                        </h3>
                      </td>
                    </tr>
                    <tr style="border-collapse:collapse">
                      <td esdev-links-color="#2d1d55" align="center" style="padding:0;Margin:0;padding-bottom:30px;padding-left:30px;padding-right:30px">
                        <a target="_blank" href="mailto:support@followy.ru" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;font-family:lato, 'helvetica neue', helvetica, arial, sans-serif;font-size:18px;text-decoration:underline;color:#351F64">
                          Мы готовы к общению
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
